/* SETTINGS-------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

UTILS------------------------------------------------------
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

DEBUG---------------------------------------------------------
 
.debug {
  min-height: 80px;
  background-color: lightgrey;
  padding: 2rem;
  border: 2px dashed red;
}*/

/* GENERAL */

/* i {
  width: 20px;
} */

a {
  color: currentColor;
  text-decoration: none;
}

/** NAV BAR */

.nav {
  height: 70px;
}

/* LOGO NAV BAR */
.logo-icon {
  max-width: 50px;
  margin-right: 12px;
}

/* SEARCH NAV BAR */
.nav .form-control-feedback {
  position: absolute;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: gray;
}

.nav .form-control {
  padding-left: 2.375rem;
}

/* NAV BAR DX */

/* ? SPECIAL ITEM NAV BAR */
.orange-bell {
  color: orange;
}
/* * MAIN */

/* * COL MENU */

#main-sidebar {
  width: 70px;
  height: calc(100vh - 90px);
}

#main-sidebar a:hover {
  background-color: lightgray;
}

.upper-main-sidebar {
  margin-bottom: 20px;
  position: relative;
  width: 70px;
  height: 190px;
  background-color: rgb(5 30 52);
  color: white;
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.upper-main-sidebar::after {
  content: "";
  position: absolute;
  bottom: -39px;
  border-bottom: 40px solid transparent;
  border-right: 71px solid rgb(5 30 52);
}

.bottom-main-sidebar {
  margin-top: 20px;
  position: relative;
  width: 70px;
  height: calc(100% - 190px);
  background-color: rgb(19 41 63);
  color: white;
  font-size: 1.3rem;
}

.bottom-main-sidebar::after {
  border-left: 70px solid rgb(19 41 63);
  content: "";
  position: absolute;
  top: -39px;
  border-top: 40px solid transparent;
}

.col-12 .button-dark-blue {
  background-color: rgb(22 91 186);
  font-size: 0.7rem;
  border: none;
}

/* ! RESPOSIVE TABLET */
@media all and (min-width: 576px) {
  .nav {
    height: 70px;
  }

  /* * MAIN */

  /* * COL MENU */

  #main-sidebar {
    width: 50px;
    height: calc(100vh - 90px);
  }

  .upper-main-sidebar {
    width: 50px;
    height: 160px;
    font-size: 1rem;
    padding-bottom: 10px;
  }

  .upper-main-sidebar::after {
    border-right: 51px solid rgb(5 30 52);
  }

  .bottom-main-sidebar {
    width: 50px;
    height: calc(100% - 160px);
    font-size: 1rem;
  }

  .bottom-main-sidebar::after {
    top: -39px;
    border-left: 50px solid rgb(19 41 63);
  }
}

/* ! RESPONSIVE DESKTOP */
@media all and (min-width: 992px) {
  .nav {
    height: 90px;
  }

  /* * MAIN */

  /* * COL MENU */

  #main-sidebar {
    width: 150px;
    height: calc(100vh - 90px);
  }

  .upper-main-sidebar {
    width: 150px;
    height: 190px;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }

  .upper-main-sidebar::after {
    border-right: 151px solid rgb(5 30 52);
  }

  .bottom-main-sidebar {
    width: 150px;
    height: calc(100% - 210px);
    font-size: 1.2rem;
  }

  .bottom-main-sidebar::after {
    top: -39px;
    border-left: 150px solid rgb(19 41 63);
  }
}
