/* SETTINGS-------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

UTILS------------------------------------------------------
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

DEBUG---------------------------------------------------------
 */
.debug {
  min-height: 80px;
  background-color: lightgrey;
  /*   padding: 2rem; */
  border: 2px dashed red;
}

/* GENERAL */

/* i {
  width: 20px;
} */

a {
  color: currentColor;
  text-decoration: none;
}

/** NAV BAR */

.nav {
  height: 70px;
}

/* LOGO NAV BAR */
.logo-icon {
  max-width: 50px;
  margin-right: 12px;
}

/* SEARCH NAV BAR */
.nav .form-control-feedback {
  position: absolute;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: gray;
}

.nav .form-control {
  padding-left: 2.375rem;
}

/* NAV BAR DX */

/* ? SPECIAL ITEM NAV BAR */
.orange-bell {
  color: orange;
}
/* * MAIN */

/* * SIDE BAR */

#main-sidebar {
  width: 70px;
  height: calc(100vh - 70px);
  top: 70px;
  background-image: url(/img/sidebar-bg.png);
  background-color: rgb(19 41 63);
}

#main-sidebar a:hover {
  background-color: lightgray;
}

.upper-main-sidebar {
  margin-bottom: 20px;
  position: relative;
  width: 70px;
  height: 150px;
  color: white;
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.bottom-main-sidebar {
  margin-top: 20px;
  position: relative;
  width: 70px;
  height: calc(100% - 170px);
  color: white;
  font-size: 1.3rem;
}

/* * LARGEST CONTAINER */

#largest-container {
  overflow: scroll;
  top: 70px;
  position: relative;
  width: calc(100% - 70px);
  left: 35px;
}

/* * BLUE ROW */

.col-12 .button-dark-blue {
  background-color: rgb(22 91 186);
  font-size: 0.7rem;
  border: none;
}

/* * TRASPARENT ROW */

/*  CARD 1 */

#card-1 th {
  font-weight: normal;
}

#card-1 .btn.text-white {
  font-size: 0.7rem;
}

#card-1 .btn.rounded-circle {
  background-color: rgb(242 101 81);
}

/*  CARD 2 */

#card-2 ul {
  list-style: none;
  padding: 0;
}

#card-2 li button {
  border-bottom: 1px solid lightgray;
}

#card-2 li:last-of-type button {
  border: none;
}

#card-2 li button:focus {
  background-color: lightblue;
  border: 6px solid blue;
  z-index: 2;
}

/* CARD 3 */

/* CARD 4 */

#card-4 a {
  text-decoration: underline;
  color: blue;
}

/* ! RESPOSIVE TABLET */
@media all and (min-width: 576px) {
  .nav {
    height: 70px;
  }

  /* * MAIN */

  /* * SIDE BAR */

  #main-sidebar {
    width: 50px;
    height: calc(100vh - 70px);
  }

  .upper-main-sidebar {
    width: 50px;
    height: 140px;
    font-size: 1rem;
    padding-bottom: 10px;
  }

  .upper-main-sidebar::after {
    border-right: 51px solid rgb(5 30 52);
  }

  .bottom-main-sidebar {
    width: 50px;
    height: calc(100% - 160px);
    font-size: 1rem;
  }

  .bottom-main-sidebar::after {
    top: -39px;
    border-left: 50px solid rgb(19 41 63);
  }

  /* * LARGEST CONTAINER */

  #largest-container {
    width: calc(100% - 50px);
    left: 25px;
  }
}

/* ! RESPONSIVE DESKTOP */
@media all and (min-width: 992px) {
  .nav {
    height: 90px;
  }

  /* * MAIN */

  /* * SIDE BAR */

  #main-sidebar {
    width: 150px;
    height: calc(100vh - 90px);
    top: 90px;
  }

  .upper-main-sidebar {
    width: 150px;
    height: 160px;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }

  .upper-main-sidebar::after {
    border-right: 151px solid rgb(5 30 52);
  }

  .bottom-main-sidebar {
    width: 150px;
    height: calc(100% - 180px);
    font-size: 1.2rem;
  }

  .bottom-main-sidebar::after {
    top: -39px;
    border-left: 150px solid rgb(19 41 63);
  }

  /* * LARGEST CONTAINER */

  #largest-container {
    width: calc(100% - 150px);
    left: 75px;
    top: 90px;
  }

  /* * BLUE ROW */

  #blue-row div h6 {
    font-size: 1rem;
  }

  #blue-row div button {
    font-size: 0.6rem;
    padding: 2px 7px;
  }

  #blue-row #col-1-blue-row button {
    font-size: 0.6rem;
    padding: 0.4rem 0.5rem;
  }

  #blue-row div span {
    font-size: 0.8rem;
  }
}
